.login-button {
  background-color: white;
  border: 1px solid #9b9b9b;
  border-radius: 50px;
  color: black;
  height: 60px;
  width: 500px;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 50%;
}

.button_div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputsForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.myForm {
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.inputItem {
  display: center;
  justify-content: center;
}

.inputItem1 {
  margin-top: 5px;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: none;
  display: none;
}

.myForm {
  background-image: url('./../../assets/images/db.JPG');
}
