<div clas="myForm">

  <div class="inputsForm">
    <div class="inputItem"><input #id id='id' class="inputItem1" type="text" name="ClientID"
                                  placeholder="Here is your client ID" value="a8dea6f2-cfa1-4b55-a0fb-42c897189818"
                                  readonly>
    </div>
    <div class="inputItem"><input #key id='key' class="inputItem1" type="text" name="ClientUniqueKEY"
                                  placeholder="Here is your client Secret KEY"
                                  value="b69ZHIx6JCnrvDSU0dhTjP3R7a5uWksGt2nThR49orruzoAhU-_TJSswSoa0DQQEEhIuTJgCe4AQTeqoLFi34w"
                                  readonly></div>
  </div>
  <div class="button_div">
    <button type="submit" class="login-button"
            onclick="location.href='https://simulator-api.db.com/gw/oidc/authorize?response_type=token&redirect_uri=http://localhost:4200/access-token1&client_id='+document.getElementById('id').value">
      Login with DB Credentials
    </button>
  </div>
</div>
