.submit__input {
  margin-top: 10px;
}

.form__container {
  margin-top: 40px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.base64__code {
  display: none;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto;
}

.container {
  align-content: center;
  text-align: center;
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  top: 20%;
  width: 100%;
}

.img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

