.culoare-footer {
  width: 100%;
  color: #F0EBD8;
  background-color: #001049;
  height: 9vh;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

@media screen and (max-width: 1000px) {
  .margin-responsive
  {
    margin-top: 110px;
  }
}

.navigare {
  background-color: #001049;
  height: 9vh;
  padding: 1rem;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  align-items: center;
}

.text-center {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  size: 2px;
}

.example-container {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  bottom: 0;
  height: 82vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.example-sidenav {
  padding: 20px;
  background-color: #F0F0F0;
}

.nav__container {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  margin-right: 20px;
}

.first__container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.second__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0 20px 20px 0;
  border: 0;
}

.profile-pic {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.text-center {
  font-size: 20px;
}

.abc__container {
  display: flex;
  flex-wrap: wrap;
}

.timer {
  color: white;
}

.abc1__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__button{
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 20px;
}

.mat-lis:active {
  color: red;

}