<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<nav class="navbar navbar-expand-lg navbar-dark fixed-top navigare nav__container">
  <div class="abc__container">
    <div class="first__container" *ngIf="logged.isLoggedIn">
      <div class="example-sidenav-content nav__item">
        <button class="img__button" type="button" mat-button (click)="drawer.toggle()">
          <img src="./../assets/images/favicon.png" alt="sideImage">
        </button>
      </div>
    </div>

    <div class="mandatory__container nav__item abc1__container">
      <div class="example-sidenav-content nav__item" *ngIf="!logged.isLoggedIn">
        <img src="./../assets/images/favicon.png" alt="sideImage">
      </div>
      <div class="nav__item">
        <a class="navbar-brand" href="#" style="font-size: 40px">db<span class="w3-animate-left">API</span>
        </a>
      </div>
    </div>

  </div>

  <div class="second__container" *ngIf="logged.isLoggedIn">
    <div class="nav__item">
      <countdown-timer class="timer" [end]=myDate (zeroTrigger)="alertEndTime()" *ngIf="myDate"></countdown-timer>
    </div>
    <div class="nav__item userImage__container">
      <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5 nav__item second__container">
        <img src="assets/images/users/1.jpg" alt="user" class="profile-pic">
      </button>

      <mat-menu #profile="matMenu" class="mymegamenu">
        <a routerLink="/personal-information">
          <button mat-menu-item>
            <mat-icon>account_box</mat-icon>
            Profile
          </button>
        </a>
        <a routerLink="/login" onclick="logout()">
          <button mat-menu-item (click)="drawer.toggle()">
            <mat-icon>exit_to_app</mat-icon>
            Sign Out
          </button>
        </a>
      </mat-menu>
    </div>
  </div>
</nav>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-nav-list appAccordion>
      <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getMenuitem()" routerLinkActive="selected">
        <a class="mat-ist" appAccordionToggle [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
          <mat-icon>{{ menuitem.icon }}</mat-icon>
          <span>{{ menuitem.name }}</span>
          <span fxFlex></span>
          <span class="label label-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <div class="container margin-responsive">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

<ngx-alerts></ngx-alerts>

<footer id="f" class="culoare-footer">
  <div class="py-5 dark text-center">
    © 2018 Copyright - dbAPI
  </div>
</footer>