.example-card {
  /* margin-top: 20px; */
  max-width: 300px;
  /* margin-bottom: 50px;
  margin-right: 20px; */
  margin: 20px 10px 20px 50px;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.container {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  justify-content: center;
  /* align-content: center; */
  width: 100%;
  height: 100%;
}

.example-header-image {
  background-image: url('../../assets/images/money.png');
  background-size: cover;
}

.footer {
  background-color: gray;
}

.cards__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40%;
  height: 100%;
  left: 0;
  bottom: 0;
  top: 0;
}

.graph__container1 {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  height: 100%;
  right: 0;
  bottom: 0;
  top: 0;
  margin-top: 30px;
}

.mat_button {
  height: 30px;
  margin-left: 20px;
  border-radius: 50px;
  background-color: lightblue;
}
