<div class="container">
  <div class="cards__container margin-responsive">
    <mat-card class="example-card margin-responsive" *ngFor="let account of cashAccounts">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{account.accountType}}</mat-card-title>
      <mat-card-subtitle>{{person?.naturalPerson?.firstName}} {{person?.naturalPerson?.lastName}}</mat-card-subtitle>
      <button class="mat_button" mat-mini-fab color="red" (click)="getIBAN(account.iban)">
        <mat-icon>send</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <p><b>IBAN:</b> {{account.iban}}</p>
      <p><b>Currency:</b> {{account.currencyCode}}</p>
      <p><b>Balance:</b> {{account.currentBalance}}</p>
      <p><b>Description:</b> {{account.productDescription}}</p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
    <mat-card-footer class="footer">
    </mat-card-footer>
  </mat-card>
  </div>
  <div class="graph__container1">
    <app-balance-graph></app-balance-graph>
  </div>
</div>
