<div class="container">
  <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Personal Information of</mat-card-title>
    <mat-card-subtitle><strong>{{person?.naturalPerson?.firstName}} {{person?.naturalPerson?.lastName}} </strong>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel (opened)="setStep(nr)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="data"><b>Show basic info</b></p>
          </mat-panel-title>
          <mat-icon class="icon">account_circle</mat-icon>
        </mat-expansion-panel-header>
        <div class="content-dropdown">
          <div class="info-container">
            <div>
              <p class="info"><strong>Title of nobility:</strong></p>
              <p class="info">{{person?.naturalPerson?.titleOfNobility}}</p>
            </div>
            <div>
              <p class="info"><strong>First name: </strong></p>
              <p class="info">{{person?.naturalPerson?.firstName}}</p>
            </div>
            <div>
              <p class="info"><strong>Last name: </strong></p>
              <p class="info">{{person?.naturalPerson?.lastName}}</p>
            </div>
            <div>
              <p class="info"><strong>Nationality: </strong></p>
              <p class="info">{{person?.naturalPerson?.nationality}}</p>
            </div>
            <div>
              <p class="info"><strong>Date of birth:</strong></p>
              <p class="info">{{person?.naturalPerson?.dateOfBirth}}</p>
            </div>
            <div>
              <p class="info"><strong>Birth Name: </strong></p>
              <p class="info">{{person?.naturalPerson?.birthName}}</p>
            </div>
            <div>
              <p class="info"><strong>Birth Place: </strong></p>
              <p class="info">{{person?.naturalPerson?.birthPlace}}</p>
            </div>
            <div>
              <p class="info" class="info"><strong>Gender: </strong></p>
              <p class="info">{{person?.naturalPerson?.gender}}</p>
            </div>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
    <div class="details">
      <mat-tab-group>
        <mat-tab label="Contacts">
          <div class="contact_container">
            <div class="info-container" *ngFor="let address of address">
              <div>
                <p class="info"><strong>Street: </strong></p>
                <p class="info">{{address?.street}}</p>
              </div>
              <div>
                <p class="info"><strong>House number:</strong></p>
                <p class="info">{{address?.houseNumber}}</p>

              </div>
              <div>
                <p class="info"><strong>City:</strong></p>
                <p class="info">{{address?.city}}</p>
              </div>
              <div>
                <p class="info"><strong>Registered Residence:</strong></p>
                <p class="info">{{address?.registeredResidence}}</p>
              </div>
            </div>

          </div>
        </mat-tab>
        <mat-tab label="Emails">
          <div class="contact_container">
            <div class="info-container" *ngFor="let email of emails">
              <div>
                <p class="info"><strong>Email Address Type: </strong></p>
                <p class="info">{{email?.emailAddressType}}</p>
              </div>
              <div>
                <p class="info"><strong>Email Address:</strong></p>
                <p class="info">{{email?.emailAddress}}</p>
              </div>
            </div>
          </div>

        </mat-tab>
        <mat-tab label="Phones">
          <div class="contact_container">
            <div class="info-container" *ngFor="let phone of phoneNumbers">
              <div>
                <p class="info"><strong>Communication Type: </strong></p>
                <p class="info">{{phone?.communicationType}}</p>
              </div>
              <div>
                <p class="info"><strong>Telephone Number:</strong></p>
                <p class="info">{{phone?.internationalAreaCode}}{{phone.areaCode}}{{phone?.telephoneNumber}}</p>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  <!--
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
  -->
</mat-card>
</div>
