.example-card {
  margin-top: 50px;
  height: 100%;
  width: 90%;
  margin-bottom: 50px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.example-header-image {
  background-image: url('../../assets/images/users/profile.png');
  background-size: cover;
}

pre {
  white-space: pre-line;
  text-align : left;
}

/* .content-dropdown{
  display:flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

} */
.info {
  margin-left: 30px;
}

.info-container {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

/* .details{
  display:flex;
  justify-content: center;
} */
