.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel{
    margin: 0 auto !important;
    width: 92% !important;
    

}
.example-headers-align{
    margin-top: 30px;
}
.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
 
}


.data{
    color: blue;
}
.red{
    color:red;
}
.content-dropdown{
    color: gray;
}
.icon{
    margin-top: 15px;
}
.content{
    margin-top:20px;
    margin-bottom: 20px;
}