<div class="content">
<mat-accordion class="example-headers-align" *ngFor="let transaction of transactions">
  <mat-expansion-panel (opened)="setStep(nr)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p class="data"><b>{{transaction.bookingDate}}</b></p>
      </mat-panel-title>
      <mat-panel-title>
        <p >
          <b>{{transaction.counterPartyName}}</b>
          </p>
      </mat-panel-title>
      <mat-panel-title>
        <p [ngClass]="{'red': transaction.amount < 0, 'data': transaction.amount > 0}">
          <b>{{transaction.amount}}</b>
        </p>
      </mat-panel-title>
      <mat-icon class="icon">account_circle</mat-icon>
    </mat-expansion-panel-header>

    <div class="content-dropdown">
      <p>Counter party iban:      {{transaction.originIban}}</p>
      <p>Payment reference:       {{transaction.paymentReference}}</p>
    </div>
  </mat-expansion-panel>

</mat-accordion>
</div>