.graph__container {
  display: flex;
  justify-content: center;
  align-content: center;
  /* text-align: center;
  right: 0; */
  /* left: 0;
  line-height: 200px;
  /* margin-top: -80px; */
  /* position: absolute;
  top: 30%;
  width: 100%; */
  /* right: 0;
  bottom: 0;
  top:0;
  width: 40%;
  height: 100%; */
}

.selection__container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* left: 0;
  bottom: 0;
  top: 0;
  width:60%;
  height: 100%; */
}

.item {
  margin-right: 30px;
}

.mat__select {
  width: 200px;
}

.balance__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  flex-direction: column;
  left: 0;
  /* margin-top: 20px;
  right: 0; */
}

.text__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
