<div class="balance__container">
  <div class="selection__container margin-responsive">
    <!-- <div class="item">
      <mat-form-field>
        <mat-select id="mat__select" [(value)]="selected" name="select">
          <mat-option *ngFor="let cashAccount of cashAccounts" value={{cashAccount.iban}}>{{cashAccount.iban}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <div class="item">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a start date"
               (dateChange)="addEvent('change', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <div class="graph__container">
    <fusioncharts [id]="id" [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat"
                  [dataSource]="dataSource"></fusioncharts>
  </div>

</div>
